{% load static %}
{% load draw_menu %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		body{
			margin-left: 100px;
			margin-top: 100px;
		}
		.menubox{
			margin-top: 30px;
			margin-left: 100px;
			font-size: 1.2rem;
			white-space: 200px;
			display: inline-block;
			width: 300px;
			border: 1px;
			vertical-align: top;
		}
	</style>
	<title></title>
</head>
<body>
	<div class="allmenu">
		<h1>Тестовое задание для UpTraders</h1>
		<a href="/admin/">Админка</a> (user, 123456) <br>
		<div class="menubox">
			{% draw_menu 'main_menu' %}
		</div>

		<div class="menubox">
			{% draw_menu 'custom' %}
		</div>

		<div class="menubox">
			{% draw_menu 'main_menu' %}
		</div>
	</div>
</body>
</html>