{% load static %}
{% load draw_menu %}

	<div class="menubox">
		<div >
			<a style="color: green;" href="/">
				root
			</a>
		</div>
	{% for elem in menu %} 	
	{% if elem.full_name < menupath %}
		<div style="margin-left: {{elem.full_name|offset}}px;">
			<a style="color: green;" href="{{elem.full_name}}">
				{{elem.name}}
			</a>
		</div>
	{% elif elem.full_name == menupath or menupath in elem.full_name %}
		{% if elem.full_name|level <= level|add:1 %}
		<div style="margin-left: {{elem.full_name|offset}}px;">
			<a style="color: red;" href="{{elem.full_name}}">
				{{elem.name}} 
			</a>
		</div>
		{% endif %}
	{% else %}
		{% if elem.full_name|level == 0 or upmenu in elem.full_name and elem.full_name|level <= level %}
		<div style="margin-left: {{elem.full_name|offset}}px;">
			<a style="color: gold;" href="{{elem.full_name}}">
				{{elem.name}} 
			</a>
		</div>
		{% endif %}
	{% endif %}
	{% endfor %}
	</div>
