{% load static %}
{% load drawing %}

	{#% url 'menu' child.elem.url|getUrl %#}

	{% for child in childs %} 	
	<div style="margin-left: 20px;">
			{% if child.elem.url and child.elem.url|isInnerPath %}
				<a style="color: {{child|isSelected}}" href="{% url 'menu' child.elem.url %}">
					{{child.elem.name}}
				</a>
			{% elif child.elem.url and not child.elem.url|isInnerPath %}
				<a style="color: {{child|isSelected}}" href="{{child.elem.url}}">
					{{child.elem.name}}
				</a>
			{% elif child.elem.named_url %}
				<a style="color: {{child|isSelected}}" href="{% url child.elem.named_url %}">
					{{child.elem.name}}
				</a>
			{% else %}
				<div style="color: {{child|isSelected}}">
					{{child.elem.name}}
				</div>
			{% endif %}	
						
			{% if child.childs %}
				{% drawing child.childs %}
			{% endif %}
	</div>
	{% endfor %}